@import "tailwindcss";
@plugin "daisyui" {
  themes: autumn;
}

/* Penguin UI Theme Tokens */
@theme {
  /* light theme */
  --color-surface: var(--color-zinc-50);
  --color-surface-alt: var(--color-zinc-100);
  --color-on-surface: var(--color-neutral-600);
  --color-on-surface-strong: var(--color-neutral-900);
  --color-primary: var(--color-sky-700);
  --color-on-primary: var(--color-white);
  --color-secondary: var(--color-black);
  --color-on-secondary: var(--color-white);
  --color-outline: var(--color-zinc-300);
  --color-outline-strong: var(--color-zinc-500);

  /* shared colors */
  --color-info: var(--color-sky-700);
  --color-on-info: var(--color-slate-100);
  --color-success: var(--color-green-700);
  --color-on-success: var(--color-white);
  --color-warning: var(--color-amber-600);
  --color-on-warning: var(--color-amber-50);
  --color-danger: var(--color-red-700);
  --color-on-danger: var(--color-slate-100);

  /* border radius */
  --radius-radius: var(--radius-sm);
}

[x-cloak] {
  display: none !important;
}

::view-transition-old(root) {
  animation: fade-out 0.2s ease-out;
}

::view-transition-new(root) {
  animation: fade-in 0.2s ease-in;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

/* a {
  transition: opacity 0.15s ease;
}

a:active {
  opacity: 0.6;
} */

/* body {
  opacity: 0;
  animation: appear 0.15s ease-out;
}

@keyframes appear {
  from {
    opacity: 0;
  }
} */

.book-description p {
  margin-bottom: 1.25rem;
}

.book-description p:last-child {
  margin-bottom: 0;
}

.drawer .drawer-side {
  transform: translateX(100%);
}

.drawer .drawer-toggle:checked ~ .drawer-content ~ .drawer-side {
  transform: translateX(0);
}

/* [aria-busy] {
  --loading-size: 64px;
  --loading-stroke: 6px;
  --loading-duration: 1s;
  position: relative;
  opacity: 0.75;
}
[aria-busy]:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--loading-size);
  height: var(--loading-size);
  margin-top: calc(var(--loading-size) / 2 * -1);
  margin-left: calc(var(--loading-size) / 2 * -1);
  border: var(--loading-stroke) solid rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  border-top-color: rgba(0, 0, 0, 0.5);
  animation: rotate calc(var(--loading-duration)) linear infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
} */
